{
  "plugins": [
    "myPlugin"
  ],
  // "processor": "myPlugin/myProcessor",
  // "extends": "plugin:myPlugin/recommended",
  // "overrides": [
  //   {
  //     "files": [
  //       "*.md"
  //     ],
  //     "processor": "myPlugin/myProcessor"
  //   }
  // ],
  "rules": {
    "myPlugin/replacement": [
      "error",
      "'Candice'"
    ]
  },
  "settings": {
    "shareData": "Hello"
  }
}